* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}

li.nav-left {
  font-family: Snell Roundhand, cursive;
  font-size: 25px;
  text-align: center;
  font-weight: 900;
}

div {
  width: 25%;
  height: 50%;
}

body {
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 1.5;
}

footer {
  background-color: white;
}

section {
  min-height: 100px;
  padding: 6% 0;
  background-color: white;
}

section:nth-child(even) {
  background-color: white
}

header {
  position: relative;
  background-color: transparent;
  color: black;
  z-index: 150;
  display: table-cell;
  vertical-align: middle;
}

nav .icon-img {
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
}

li {
  display: inline;
  padding: 10px;
}

span.name {
  color: blue;
}

p {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 50px;
  max-width: 400px;
  margin: 0 auto;
  font-size: 26px;
}

a {
  color: blue;
}

#mains-js { 
  height: 60vh;
  width: 100%; 
  background-color: white;
  background-size: cover;
  background-image: url(""); 
  background-repeat: no-repeat;      
  background-position: 50% 50%; 
  display:table;
} 

#pet-search {
  display: block;
  margin: 0 auto;
}

.container {
  max-width: 400px;
  margin: 0 auto;
}

li.pet-details {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 35px;
  text-align: center;
  padding: 80px 80px 80px 80px;
}

h1 {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 35px;
  text-align: center;
}

/* ------DESKTOP AND TABLET STYLING------------------------------------*/

div {
  width: 25%;
  height: 50%;
}

/* Desktop Styles */
@media (min-width: 960px) {
  body {
    margin: auto;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    margin: auto;
  }

  form.search {
  display: block;
  margin: 0 auto;
  }
}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
  body {
    margin: auto;
  }

  #pet-search {
  display: block;
  margin: 0 auto;
  }
}
